* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@font-face {
    font-family: Azonix;
    src: url(/assets/fontes/Azonix.otf);
}
/* Regras gerais - body */
body {
    background-color: black;
    font-family: Azonix;
    background-image: url(/assets/imagens/background.png);
    background-size: 90%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 60px;
    background-attachment: fixed;
    height: 100vh;
}

/* Header */
header {
    padding: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.200);
    color: #cca33bb2;
}
header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
}
header h1 {
    display: block;
    font-size: 40px;
}
nav ul {
    display: flex;
    list-style: none;
}
nav ul li {
    margin: 0 30px;
    font-size: 25px;
}

/* Main */
main {
    margin-top: 80px;
}
main h2 {
    font-size: 60px;
    text-align: center;
    color: #cca43b;
}
.secao-projetos {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}
.card {
    opacity: 0.;
    border-radius: 20px;
    text-align: center;
    background-color: black;
    color: white;
}
.card img {
    width: 150px;
    height: 150px;
    border-radius: 20px;
}
.card-text {
    font-family: 'Poppins', sans-serif;
}
